{% extends "base.html" %} {% block content %}
<div class="my-bg-primary stepbox">
    <p>{{ _('Please, select your preferred language') }}</p>
    <form method="POST" action="index">
        <div class="form-group">
        <select class="selectpicker form-control" id="languagepicker" data-width="fit" name="lang">
            {% for lang in languages %}
                {% if lang.locale == locale %}
                    <option value='{{ lang.locale }}' selected="selected"> {{lang.name}} </option>
                {% else %}
                    <option value='{{ lang.locale }}'> {{lang.name}} </option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" class="submit form-control" value="{{ _('send') }}"/>
        </div>
    </form>
</div>
{% if exams is defined %}
<div class="my-bg-primary stepbox">
    <p>{{ _('Now select the exam that was prescribed to you') }}</p>
    <form method="POST" action="index">
        <div class="form-group">
            <select class="selectpicker form-control" id="exampicker" data-width="fit" name="exam">
                {% for e in exams %}
                    {% if exam is defined and e.id == exam.id %}
                        <option value='{{ e.id }}' selected="selected"> {{e.name}} </option>
                    {% else %}
                        <option value='{{ e.id }}'> {{e.name}} </option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" class="submit form-control" value="{{ _('send') }}"/>
        </div>
    </form>
</div>
{% endif %}
{% if steps is defined %}
<div class="my-bg-primary stepbox" id="instructions">
        {% if audio is not none %}
        <audio controls>
            <source src="{{ audio }}" type="audio/mpeg">
            {{ _('Audio error') }}
        </audio> 
        {% endif %}
        {% for description in steps %}
            {% if loop.index0 == 0 %}
                <div class="my-bg-secondary exam_stepbox first_exam_stepbox">
                    <img src="/static/img/pregnancy.gif" class="nopregnancy"/>
                    {% for line in description %}
                    <p>{{ line }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="my-bg-secondary exam_stepbox">
                    {% for line in description %}
                    <p>{{ line|safe }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if loop.length == 1 or loop.index0 == loop.length - 2%}
                {% if pictures %}
                <div id="imagewrapper">
                <div id="imagewrapper2">
                <div id="imageshow">
                    {% for pic in pictures %}
                        {% if pic|length > 1 %}
                            <div><img src="/static/img/posizioni/{{ pic }}"/></div>
                        {% endif %}
                    {% endfor %}
                </div>
                </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}

            </div>
{% endif %}

{% endblock %}
