body {
    background-color: cornflowerblue;
}

.homepagelink {
    font-size: 32px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.content {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5px;
    margin-bottom: 5%;
    font-size: 20px;
}


.my-bg-primary {
    background-color: rgba(0, 0, 255, 0.3);
}

.my-bg-secondary {
    border-width: 2px;
    background: linear-gradient(rgb(0, 143, 168), rgb(0, 168, 140));
}

.exam_stepbox {
    border-style: solid;
    border-color: blue;
    border-radius: 32px;
    padding: 20px;
    margin: 16px 10% 10px 10%;
    text-align: left;
}

.stepbox {
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 32px;
    box-shadow: -10px 10px 5px #888888;
    text-align: center;
}

.form-group {
    margin: 0 auto;
    width:50% /* value of your choice which suits your alignment */
}

.selectpicker{
    width: 180px;
    display: inline;
}

.submit {
    display: inline;
    width: 80px;
}

.navbar {
    border-radius: 0px !important;
}

.nopregnancy {
    float:right;
    width: 250px;
    height: 250px;
    margin-top: 0;
    margin-right: 0;
    opacity: .6;
}

.first_exam_stepbox{
    overflow: hidden;
    min-height: 100px;
}

.subtitle{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#imagewrapper {
    text-align: center;
}
#imagewrapper2 {
    min-width: 70%;
    display: inline-block;
}
#imageshow {   
    display: flex;
    justify-content:space-between;
}
   #imageshow img{   
       margin : 8px;
   }
@media only screen and (max-width: 1000px) {
#imagewrapper {
    text-align: unset;
}
#imagewrapper2 {
    width: auto; 
    display: inline;
}
   #imageshow {   
        display: inline;
        justify-content:unset;
    }


}
@media only screen and (max-width: 700px) {
    .selectpicker {
        display: inline-block;
        font-size: 20px;
        max-width: 180px;
        margin-bottom: 4px;
    }

    .nopregnancy {
        display: block;
        width: 160px;
        height: 160px;
        float: none;
        margin: auto;
        margin-bottom: 10px;
    }

    .exam_stepbox {
        margin-left: 5px;
        margin-right: 5px;
        padding : 16px;
    }

    .content {
        margin-left: 0px;
        margin-right: 0px;
    }
    .form-group {
        width:70%;
    }

    .submit {
        display: inline-block;
        width: 180px  !important;
        font-size: 20px;
    }

}

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 8%;
        background-color: #f07d7d; 
        /*color: white;*/
        text-align: center;
    }

    .footer p {
        margin-top: 8px;
        font-size: 18px;
    }